@import "./quasar.variables.scss";
@import "~quasar-styl";
// @import '~quasar-addon-styl';

.header {
  background-color: #5e60ce;
}

body {
  background-color: #142850;
  font-family: "Baloo Tammudu 2", cursive, "Roboto", sans-serif, "Poppins",
    sans-serif;
}

.btn {
  background-color: #56cfe1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
